<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.text || r.value" [term]="t"></ngb-highlight>
</ng-template>
<div class="tag-input" [class.loading]="loading">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="typeahead"
    [ngbTypeahead]="search"
    [resultTemplate]="rt"
    [inputFormatter]="format"
    (selectItem)="selectItem($event)"
    [placeholder]="'search_tags' | i18n"
  />
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="checkbox-list">
  <div class="custom-control custom-checkbox">
    <input
      type="checkbox"
      class="custom-control-input"
      id="{{ 'field' + id + '-_' }}"
      [(ngModel)]="checked['_']"
      [attr.disabled]="checked['_'] ? 'disabled' : null"
    />
    <label class="custom-control-label" for="{{ 'field' + id + '-_' }}">{{ "all_tags" | i18n }}</label>
  </div>
  <div
    *ngFor="let item of option.content.list"
    class="custom-control custom-checkbox"
    [class.omit]="(item.omit || item.count === 0) && !checked[item.value]"
  >
    <input
      type="checkbox"
      class="custom-control-input"
      id="{{ 'field' + id + '-' + item.value }}"
      [(ngModel)]="checked[item.value]"
    />
    <label
      class="custom-control-label"
      [class.incompatible]="item.count === 0"
      for="{{ 'field' + id + '-' + item.value }}"
      >{{ item.text || item.value }}<span *ngIf="item.count" class="item-count">({{ item.count }})</span></label
    >
  </div>
</div>
<!-- <a *ngIf="hasOmit" class="moreless" href="" (click)="toggleOmit($event)">
  {{ showOmit ? "Show less" : "Show more" }}
</a> -->
